<div>
  <%= link_to("Home",posts_path)%>
</div>
<h1>All comments for "<%= @post.title %>"</h1>

<div class="comments">

  <% @comments.each do |comment| %>

    <div class="comment group">
      <blockquote>
        <%= comment.content %>
      </blockquote>
      <cite><%= comment.user.email %><time datetime="<%= comment.created_at %>">at <%= comment.created_at.strftime('%d/%m/%y %H:%I') %></time></cite>

    </div>

  <% end %>

</div>

<h2>Post a comment</h2>

<%= form_for([@post, @comment]) do |f| %>

  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :content %>
    <%= f.text_area :content, rows: 5, placeholder: "Add your comment here" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
