<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    
  </div>
  <br>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
    

  </div>
  <br>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.radio_button(:category, "Tech") %>
    <%= label_tag("Tech") %>
    &nbsp;
    <%= f.radio_button(:category, "Games") %>
    <%= label_tag("Games") %> 
    &nbsp;
    <%= f.radio_button(:category, "Collections") %>
    <%= label_tag("Collections   ") %>
    &nbsp;
    <%= f.radio_button(:category, "News") %>
    <%= label_tag("News") %>
  </div>
  <br>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <br>
  <div class="actions">
    <br>
    <%= f.submit %>
  </div>
<% end %>
