 

    <% @posts.each do |post| %>
      
<div class='post group'>
  

  <% button_to upvote_post_path(post), class:'upvote' do%>
      &#9650;
    <br>
  
    <span class="votes"><%= post.votes.count %></span>
            <% end %>


 <div class="post-content">
  <a href='<%=post.link%>'>
            <h3 class="post-title"><%= post.title %></h3>
          </a>
            <p class="post-description"><%= post.description %></p>

</div>
<div class="post-meta">
            <span class="post-comments"><%= post.comments.count %></span>
          
          <%= link_to post_comments_path(post) do %>
             <i class="fa fa-comment"></i>
            <% end %>
          

            <div class="hoverbox">
            <img src="https://secure.gravatar.com/avatar/fd057f1d585d43bba970999c90eea118.png" alt="post-creator" class="post-creator">
            <div class="box">
              <p id="avatar"> <img id="popup" src="https://secure.gravatar.com/avatar/fd057f1d585d43bba970999c90eea118.png" alt="post-creator"><br><strong>Chris Harris</strong></p><p id="secondline"><strong><i>Programmer</i><br><a href="https://www.twitter.com">@ChrisHarris</a></strong></p><p id="follow"><strong>Follow</strong></p><strong>
            </strong></div><strong>
          </strong></div><strong>
          </strong></div>
</div>
          
     <% end %>       

