<!DOCTYPE html>
<html>
<head>
  <title>MyProductHunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<link rel="stylesheet" href="normalize.css">
<link rel="stylesheet" href="style.css">
<link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
</head>
<body>
<header class="main-header">

    <div class="top-header">
 
      <div class="content-wrap group">

        <div class="logo">
          <h1>Product Hunt</h1>
        </div>
        <div class='search-container'>
        <div class="bar">
           <label>
            <img id='magnifier'src="<%=asset_path('magnifier58.svg')%>">
            </label>
          <input type="search" class="search" placeholder="Search for a product..."> 
        </div>
      </div>
  


       
<%= link_to '+', new_post_path, class: "add-new-post" %> 
<!--- <a href="#" class="login">Log in</a> -->


<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "login") %>
<% else %>
  <%= link_to('Login', new_user_session_path, class: "login") %>
<% end %>

      </div>


    </div>

    <nav class="main-nav">

      <div class="content-wrap">

        <ul class="main-nav-links group"> 
          <li class="active">Tech</li>
          <li class="games">Games&beta;</li>
          <li class ="collections">Collections</li>
          <li class="news">News</li>
        </ul>

      </div>

    </nav>

  </header>
<main class='main-content'>
  <div class='content-wrap'>

  <header class="day-header">
          <h2>Today <!-- <span class="subtext">07/07/15</span> --> 
                <%= Time.new.strftime '%D' %> </h2>
        </header>

  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<%= yield %>
  </div>
</main>
</body>
</html>
